body {
    background: url(../images/river-stone.jpg);
}

/* containter of the rules*/

.rules-container {
    background-color: #49A0B5;
    color: white;
    margin-top: 5%;
    opacity: .85;
}

.wins-container {
    margin-top: 5%;
}

/* computers guess small box*/

#guess-card {
    background-color: #53A451;
    color: white;
    text-align: center;
    opacity: .85;
    width: 50%;
}

/* wins/losses small box*/

#score-card {
    background-color: #F7C244;
    color: white;
    text-align: center;
    opacity: .85;
    width: 50%;
}
/*box for gems*/
.gem-con {
    margin: 2%;
}

/* gems themselves */
.gem {
    margin:auto;
}


/* gem images*/
img {
    margin:5%;
    width: 100px;
    height: 100px;
}

/* Final Score box*/
.your-score {
    background-color: #49A0B5;
    color: white;
    margin: auto;
    margin-top: 1%;
    width: 50%;
    padding: 5%;
    opacity: .85;
}

.score-is {
    background-color: #49A0B5;
    color: white;
    margin: auto;
    margin-top: 1%;
    width: 50%;
    opacity: .85;
}